# ERROR xxx REDIRECT URL
ErrorDocument 404 /404
ErrorDocument 500 /500
# Add '/CRHS_robotics-2020' for local hosting

# DEFAULT PAGE

DirectoryIndex index.php home

# REMOVES EXTENSION

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
