# ERROR xxx REDIRECT URL
ErrorDocument 404 /crhsrobotics2020/error/404
ErrorDocument 500 /crhsrobotics2020/error/500

# DEFAULT PAGE

DirectoryIndex index.php home

# REMOVES EXTENSION

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
