/*VARIABLE CALLING*/

:root {
	--main-dark-bg: #222;
	--body-bg: #EDEEF0
}

/*GENERAL (large bodies)*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box
}
body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--body-bg)!important
}
.content {
	margin-left: 10px;
	margin-right: 10px
}
nav {
	width: 100%;
	margin: 0;
	background-color: var(--main-dark-bg)
}

/*DROPDOWN*/

.dropbtn {
	border: none;
	cursor: pointer;
	background-color: transparent;
	font-size: 17px;
	padding: 0;
}
.dropbtn:focus {
	outline: none
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 100px;
	overflow: auto;
	-webkit-box-shadow: 0px 2px 4px 0px var(--main-dark-bg);
	        box-shadow: 0px 2px 4px 0px var(--main-dark-bg);
	border-radius: 10px;
	z-index: 2;
	opacity: 0;
}
.dropdown-content a {
	color: black;
	padding: 12px 14px;
	text-decoration: none;
	display: block;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
}
#navbar>div>.dropdown-content>a {
	font-size: 16px;
	padding: 10px 12px;
}
.dropdown a:hover {
	background-color: #c9c9c9;
	text-decoration: none;
	color: black
}
.dropdown:hover .dropdown-content {
	display: block;
	-webkit-animation: dropdown-contentShow 0.5s ease forwards;
	        animation: dropdown-contentShow 0.5s ease forwards;
}
@-webkit-keyframes dropdown-contentShow {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes dropdown-contentShow {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

/*BOTTOMNAV (larger nav that does not move)*/

.btmnav {
	padding: 30px
}
.btmnav>.navbar-brand>img {
	height: 60px;
	width: 60px
}
.btmnav>div>button {
	color: white;
	font-size: 20px;
	padding: 0
}
.btmnav>div>button {
	cursor: default
}
.btmnav>a {
	margin-left: 45px;
	font-size: 30px;
	color: white;
	float: middle;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
}
.btmnav>div>button {
	font-size: 30px;
	color: white;
	float: middle;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
}
.btmnav>div {
	margin-left: 45px;
	float: middle;
}

/*TOPNAV (smaller nav that moves with user)*/

#navbar {
	position: fixed;
	top: -100px;
	display: block;
	-webkit-transition: top 0.3s;
	-o-transition: top 0.3s;
	transition: top 0.3s;
	z-index: 2;
	padding: 15px;
	background-color: var(--main-dark-bg);
	-webkit-box-shadow: 0 5px 5px 5px var(--main-dark-bg);
	        box-shadow: 0 5px 5px 5px var(--main-dark-bg)
}
#navbar>.navbar-brand>img {
	height: 30px;
	width: 30px
}
@media only screen and (max-width: 900px) {
	#navbar {
		display: none
	}
}
#navbar>a, #navbar>div {
	margin-left: 24px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
#navbar>div>button {
	color: white;
	padding: 0;
	font-size: 20px
}
#navbar>div>button {
	cursor: default
}

/*ALL NAVBARS*/

#active {
	border-bottom: solid white 2px
}
#active:hover {
	color: white
}
#navbar>a:hover, #navbar>div:hover>button, .btmnav>a:hover, .btmnav>div:hover>button {
	color: #c9c9c9;
	text-decoration: none
}
#navbar>div>button>.fa-caret-right, .btmnav>div>button>.fa-caret-right {
	transform: rotate(0deg);
	transition: transform 0.25s ease
}
#navbar>div:hover>button>.fa-caret-right, .btmnav>div:hover>button>.fa-caret-right {
	transform: rotate(90deg)
}
@media only screen and (max-width: 900px) {
	.btmnav>a, .btmnav>div>button, .btmnav>div {
		width: 100%;
		display: inline-block;
		text-align: center;
		border-bottom: none;
		margin-left: 0;
	}
	.dropdown-content {
		text-align: center;
		width: 100%
	}
	.btmnav>a, .btmnav>div>button {
		margin-bottom: 20px
	}
	.btmnav>a:hover, .btmnav>div>button:hover, .btmnav>div:hover {
		color: #c9c9c9
	}
}

/*SOCIAL MEDIA LINKS*/

.social-link {
	float: right;
	margin-right: 20px;
	color: white;
}
.social-link:hover {
	color: #c9c9c9
}

/*Back to top button*/

#backtop {
	position: fixed;
	right: -100px;
	bottom: 50px;
	border: 1px solid var(--body-bg);
	border-radius: 10px;
	height: 50px;
	width: 50px;
	display: block;
	-webkit-transition: right 0.3s;
	-o-transition: right 0.3s;
	transition: right 0.3s;
	z-index: 2;
	padding: 10px;
	color: white;
	background-color: var(--main-dark-bg);
	-webkit-box-shadow: 0 0 5px 5px var(--main-dark-bg);
	        box-shadow: 0 0 5px 5px var(--main-dark-bg)
}
#backtop:hover {
	animation: Jump 0.5s ease infinite
}
@keyframes Jump {
	0% {
		bottom: 50px
	}
	50% {
		bottom: 55px
	}
	100% {
		bottom: 50px
	}
}
#backtop:focus {
	outline: none
}

/*ALL TEXT*/


.info-link {
	cursor: help;
}
.no_bullet {
	list-style-type: none
}
.link {
	color: #000;
	text-decoration: underline;
}
.link:hover {
	text-decoration: none;
	color: #444
}
.light-link {
	color: #fff;
	text-decoration: underline;
}
.light-link:hover {
	text-decoration: none;
	color: #c9c9c9
}
.disclaimer {
	border-radius: 15px;
	border: solid red 2px;
	background-color: rgba(250, 0, 0, 0.1)
}
.tag {
	text-decoration: underline;
}
.btnlink {
	border-radius: 15px;
	padding: 8px;
	background-color: white;
	color: red;
	text-decoration: none;
	border: solid red 2px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-box-shadow: none;
	        box-shadow: none
}
.btnlink:hover {
	color: white;
	background-color: red;
	border: 2px solid white;
	text-decoration: none;
	-webkit-box-shadow: inset 0 0 5px 0 #000;
	        box-shadow: inset 0 0 5px 0 #000
}

/*FOOTER*/

footer {
	width: 70%;
	border-radius: 10px 10px 0 0;
	background-color: var(--main-dark-bg);
	box-shadow: 0 -5px 5px 5px var(--main-dark-bg);
	color: #fff;
	margin: auto;
	padding: 5px 5px 15px 5px
}
@media only screen and (max-width: 991px) {
	#footrow>div {
		margin-bottom: 30px
	}
}
.foot-div {
	height: 1px;
	background-color: #c9c9c9
}
.footlink {
	text-decoration: none;
	font-size: 15px;
	color: #fff
}
.footlink:hover {
	text-decoration: none;
	color: #c9c9c9
}

/*GRID (basic)*/

#firstrow { /*The first row*/
	margin: 50px 30px 30px 50px
}
#row { /*Any row proceeding the first row but preceding the last row*/
	margin: 30px
}
#lastrow { /*The last row before the footer*/
	margin: 30px 30px 50px 30px
}
#footrow { /*Row containing the footer*/
	margin: 30px 30px 15px 30px
}

/*GRID (specifics of articles)*/

#article>.card {
	-webkit-transition: background-color 0.25s ease, color 0.25s ease, -webkit-box-shadow 0.25s ease;
	transition: background-color 0.25s ease, color 0.25s ease, -webkit-box-shadow 0.25s ease;
	-o-transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
	transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
}
#article>.card>.card-body>.card-title {
	-webkit-transition: color 0.25s ease;
	-o-transition: color 0.25s ease;
	transition: color 0.25s ease
}
#article:hover>.card {
	color: white;
	background-color: var(--main-dark-bg);
	-webkit-box-shadow: 0 8px 16px 0 var(--main-dark-bg);
	        box-shadow: 0 8px 16px 0 var(--main-dark-bg)
}
#article>.card {
	border-radius: 15px;
	overflow: hidden;
	border: none;
	-webkit-box-shadow: 0 2px 5px 0 var(--main-dark-bg);
	        box-shadow: 0 2px 5px 0 var(--main-dark-bg)
}
#article>.card>img {
	max-height: 250px;
	width: auto
}
.parallax {
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px
}
.article-title {
	font-family: impact;
	font-size: 45px
}
.article-title-hr {
	width: 80%;
	float: left;
	border: 3px solid var(--main-dark-bg)
}
.article-body {
	font-family: georgia;
	font-size: 17px;
	line-height: 30px
}

/*IMPORTANT TAG*/

#article:hover>.card>.important-article>.card-title {
	color: #00CC00
}
.important-article {
	border-top: #00CC00 5px solid
}
.important-article>.tag {
	position: absolute;
	margin-top: -1.25rem;
	margin-bottom: 0.75rem;
	left: 0;
	border-radius: 0 0 15px 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00CC00), to(#006600));
	background-image: -o-linear-gradient(top, #00CC00, #006600);
	background-image: linear-gradient(to bottom, #00CC00, #006600);
	font-weight: 700;
	color: white;
	font-size: 14px;
	font-family: monospace;
	padding: 0 10px 0 5px
}

/*TECH TAG*/

#article:hover>.card>.tech-article>.card-title {
	color: #0339f8
}
.tech-article {
	border-top: #0339f8 5px solid
}
.tech-article>.tag {
	position: absolute;
	margin-top: -1.25rem;
	margin-bottom: 0.75rem;
	left: 0;
	border-radius: 0 0 15px 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0339f8), to(#011353));
	background-image: -o-linear-gradient(top, #0339f8, #011353);
	background-image: linear-gradient(to bottom, #0339f8, #011353);
	font-weight: 700;
	color: white;
	font-size: 14px;
	font-family: monospace;
	padding: 0 10px 0 5px
}