/*VARIABLE CALLING*/

:root {
	--element-bg: #222;
	--body-bg: #fff;
	--light-accent: #222;
	--light-accent-hover: #444;
	--link: #D00000;
	--alt-link: #E65F5F;
	--alt-link-hover: #ed8b8b;
	--link-underline-color: rgba(0,0,0,0.2);
	--link-underline-color-light: rgba(250,250,250,0.2);
	--text: #222;
	--alt-text: #c9c9c9;
	--tag-blue: rgb(0,0,250);
	--tag-blue-bg: rgba(0,0,250,0.3);
	--tag-green: rgb(0,150,0);
	--tag-green-bg: rgba(0,150,0,0.3)
}

/*GENERAL (large bodies)*/

html {
   scroll-behavior: smooth;
}
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box
}
body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--body-bg)!important
}
/* COOL TRANSITION EXPERIMENTAL SHIT */
body > #transition {
	display: none
}
#transition {
	z-index: 9!important;
	border-radius: 50%;
	background-color: var(--element-bg);
	border: #c9c9c9 10px solid;
	position: fixed;
	left: -50vw;
	bottom: -50vw;
	animation: transitionTheme 2s ease
}
@keyframes transitionTheme {
	0% {
		height: 0;
		width: 0
	}
	75% {
		height: 175vw;
		width: 175vw;
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.content {
   -webkit-animation: fadeIn 0.15s ease forwards;
           animation: fadeIn 0.15s ease forwards;
}
.content>*:not(#homerow):not(.container) {
   margin-right: 10px;
   margin-left: 10px
}
@-webkit-keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {

      opacity: 1
   }
}
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {

      opacity: 1
   }
}
nav {
	width: 100%;
	margin: 0;
	background-color: var(--element-bg)
}
#banner {
	position: fixed;
	border-top: 2px solid var(--body-bg);
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #222;
	padding: 5px;
	color: white;
}
#banner>p {
	font-size: 14px!important
}
#banner>p>a {
   color: #E65F5F;
   text-decoration: underline;
   -webkit-text-decoration-color: var(--link-underline-color-light);
           text-decoration-color: var(--link-underline-color-light);
   -webkit-transition: -webkit-text-decoration-color 0.25s ease;
   transition: -webkit-text-decoration-color 0.25s ease;
   -o-transition: text-decoration-color 0.25s ease;
   transition: text-decoration-color 0.25s ease;
   transition: text-decoration-color 0.25s ease, -webkit-text-decoration-color 0.25s ease
}
#banner>p>a:hover {
   -webkit-text-decoration-color: #E65F5F;
           text-decoration-color: #E65F5F;
   color: #E65F5F
}
.banner-button {
	border-radius: 25px;
	border: outset #E65F5F;
	padding: 2px 5px 2px 5px
}
.banner-button:hover {
	background-color: #E65F5F66;
	color: white
}
.banner-button:active {
	background-color: #E65F5F;
	border-style: inset;
	color: white
}
p, h2, h3, h4, h5, li {
   color: var(--text)!important
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--body-bg);
  -webkit-box-shadow: inset 0 0 5px 0 var(--element-bg);
          box-shadow: inset 0 0 5px 0 var(--element-bg)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--body-bg);
  -webkit-box-shadow: 0 0 5px 0 var(--element-bg);
          box-shadow: 0 0 5px 0 var(--element-bg);
  border-radius: 50px;
  border: 2px outset var(--element-bg)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c9c9c9;
}

/*MEDIA QUERIES*/

@media print {
	#navbar, #backtop, #darkbutton, #lightbutton {
		display: none!important
	}
}
.bg-light-j {
	background-color: var(--body-bg)!important;
	border-radius: 20px 20px 0 0;
}

/*TEAM MEMBER PAGES*/

.profile {
	height: 200px;
	width: auto;
	border: #222 solid 2px;
	border-radius: 50%;
}

/*TABLE*/

table {
	border: 2px solid #222;
	color: #222;
	width: 80%
}
td, th {
	border: 1px solid #222;
	padding: 8px
}

/*SIDEBAR*/

.sidebar {
	position: fixed;
	right: 0px;
	top: 35%;
	background-color: #222;
	border-left: solid 1px var(--body-bg);
	border-top: solid 1px var(--body-bg);
	border-bottom: solid 1px var(--body-bg);
	border-radius: 15px 0 0 15px;
	-webkit-box-shadow: 0 0 5px 5px var(--element-bg);
	        box-shadow: 0 0 5px 5px var(--element-bg);
	padding: 8px;
	word-break: break-all;
	max-width: 150px
}
.sidebar>a {
	color: #E65F5F;
	text-decoration: underline;
	-webkit-text-decoration-color: var(--link-underline-color-light);
					text-decoration-color: var(--link-underline-color-light);
	-webkit-transition: -webkit-text-decoration-color 0.25s ease;
	transition: -webkit-text-decoration-color 0.25s ease;
	-o-transition: text-decoration-color 0.25s ease;
	transition: text-decoration-color 0.25s ease;
	transition: text-decoration-color 0.25s ease, -webkit-text-decoration-color 0.25s ease
}
.sidebar>a:hover {
	-webkit-text-decoration-color: #E65F5F;
					text-decoration-color: #E65F5F;
	color: #E65F5F
}

/*DROPDOWN*/

.dropbtn {
	border: none;
	cursor: pointer;
	background-color: transparent;
	font-size: 17px;
	padding: 0;
}
.dropbtn:focus {
	outline: none
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 150px;
	overflow: auto;
	-webkit-box-shadow: 0px 2px 4px 0px var(--element-bg);
	        box-shadow: 0px 2px 4px 0px var(--element-bg);
	border-radius: 10px;
	z-index: 2;
	opacity: 0;
}
.dropdown-content a {
	color: black;
	padding: 12px 14px;
	text-decoration: none;
	-webkit-transition: background-color 0.25s ease, color 0.25s ease;
	-o-transition: background-color 0.25s ease, color 0.25s ease;
	transition: background-color 0.25s ease, color 0.25s ease;
	display: block;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
}
.dropdown-content > a:not(:last-child) {
   border-bottom: var(--element-bg) 1px solid
}
.dropdown-content>#active, .dropdown-content>#active:hover {
   background-color: #c9c9c9;
   color: #D00000
}
#navbar>div>.dropdown-content>a {
	font-size: 16px;
	padding: 10px 12px;
}
.dropdown a:hover {
	background-color: #c9c9c9;
	text-decoration: none;
	color: black
}
.dropdown:hover .dropdown-content {
	display: block;
	-webkit-animation: dropdown-contentShow 0.5s ease forwards;
	        animation: dropdown-contentShow 0.5s ease forwards;
}
@-webkit-keyframes dropdown-contentShow {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes dropdown-contentShow {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

/*BOTTOMNAV (larger nav that does not move)*/

.btmnav {
	padding: 20px;
	border-bottom: #222 solid 2px;
	background-color: transparent
}
.btmnav>.navbar-brand>img {
	height: 50px;
	width: 50px
}
.btmnav>div>button {
	cursor: default
}
.btmnav>a {
	margin-left: 45px;
	font-size: 30px;
	float: middle;
	-webkit-transition: color 0.25s ease;
	-o-transition: color 0.25s ease;
	transition: color 0.25s ease;
	color: var(--light-accent);
	text-decoration: none;
   border: 1px solid transparent;
	font-family: 'Roboto Condensed', sans-serif;
}
.btmnav>div>button {
	font-size: 30px;
	float: middle;
	-webkit-transition: color 0.25s ease;
	-o-transition: color 0.25s ease;
	transition: color 0.25s ease;
	color: var(--light-accent);
   border: 1px solid transparent;
   padding: 0;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
}
.btmnav>div {
	margin-left: 45px;
	float: middle;
}

/*TOPNAV (smaller nav that moves with user)*/

#navbar {
	position: fixed;
	top: -100px;
	display: block;
	-webkit-transition: top 0.3s;
	-o-transition: top 0.3s;
	transition: top 0.3s;
	z-index: 2;
	padding: 10px;
	background-color: var(--element-bg);
	-webkit-box-shadow: 0 5px 5px 5px var(--element-bg);
	        box-shadow: 0 5px 5px 5px var(--element-bg)
}
#navbar>.navbar-brand>img {
	height: 30px;
	width: 30px
}
@media only screen and (max-width: 900px) {
	#navbar {
		display: none
	}
}
#navbar>a, #navbar>div {
	margin-left: 24px;
	color: white;
	-webkit-transition: color 0.25s ease;
	-o-transition: color 0.25s ease;
	transition: color 0.25s ease;
	text-decoration: none;
	font-size: 20px;
   border: 1px solid transparent;
	font-family: 'Roboto Condensed', sans-serif;
}
#navbar>div>button {
	color: white;
	-webkit-transition: color 0.25s ease;
	-o-transition: color 0.25s ease;
	transition: color 0.25s ease;
	padding: 0;
	font-size: 20px
}
#navbar>div>button {
	cursor: default
}

/*ALL NAVBARS*/

#navbar>a:active, #navbar>div>button:active {
   border: 1px dashed white
}
.btmnav>div>button:active, .btmnav>a:active {
	border: 1px solid black
}
#navbar>#active, #navbar>div>#active {
	border-bottom: solid var(--alt-link) 2px;
   color: var(--alt-link)
}
.btmnav>#active, .btmnav>div>#active {
	border-bottom: solid var(--link) 2px;
	color: var(--link)
}
#navbar>#active:active, #navbar>div>#active:active {
	border: 1px dashed var(--alt-link)
}
.btmnav>#active:active, .btmnav>div>#active:active {
	border: 1px dashed var(--alt-link)
}
#navbar>a:hover, #navbar>div:hover>button {
	color: #c9c9c9;
	text-decoration: none
}
.btmnav>a:hover, .btmnav>div:hover>button {
	text-decoration: none;
	color: #666
}
#navbar>div>button>.fa-caret-right, .btmnav>div>button>.fa-caret-right {
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: -webkit-transform 0.25s ease;
	transition: -webkit-transform 0.25s ease;
	-o-transition: transform 0.25s ease;
	transition: transform 0.25s ease;
	transition: transform 0.25s ease, -webkit-transform 0.25s ease
}
#navbar>div:hover>button>.fa-caret-right, .btmnav>div:hover>button>.fa-caret-right {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg)
}
@media only screen and (max-width: 900px) {
	.btmnav>a, .btmnav>div>button, .btmnav>div {
		width: 100%;
		display: inline-block;
		text-align: center;
		border-bottom: none;
		margin-left: 0;
	}
	.dropdown-content {
		text-align: center;
		width: 100%
	}
	.btmnav>a, .btmnav>div>button {
		margin-bottom: 20px
	}
	.btmnav>a:hover, .btmnav>div>button:hover, .btmnav>div:hover {
		color: #c9c9c9
	}
}
.btmnav>#fr {
   border-left: 1px solid var(--light-accent);
   border-right: 1px solid transparent;
   border-bottom: solid transparent 1px;
   border-top: 1px solid transparent;
   margin-left: 22.5px;
   padding-left: 22.5px
}
#navbar>#fr {
	border-left: 1px solid #c9c9c9;
	border-right: 1px solid transparent;
	border-bottom: solid transparent 1px;
	border-top: 1px solid transparent;
	margin-left: 22.5px;
	padding-left: 22.5px
}

/*SOCIAL MEDIA LINKS*/

#social-nav {
   margin: 20px 0 10px 0
}
#social-link {
	color: var(--alt-link);
   font-size: 40px;
   -webkit-transition: color 0.25s ease;
   -o-transition: color 0.25s ease;
   transition: color 0.25s ease
}
#social-link:hover {
	color: var(--alt-link-hover)
}

/*Back to top button*/

#backtop {
	position: fixed;
	right: -100px;
	bottom: 100px;
	border: 1px solid var(--body-bg);
	border-radius: 10px;
	height: 50px;
	width: 50px;
	display: block;
	-webkit-transition: right 0.3s, color 0.3s ease, background-color 0.3s ease;
	-o-transition: right 0.3s, color 0.3s ease, background-color 0.3s ease;
	transition: right 0.3s, color 0.3s ease, background-color 0.3s ease;
	z-index: 2;
	padding: 10px;
	color: white;
	background-color: var(--element-bg);
	-webkit-box-shadow: 0 0 5px 5px var(--element-bg);
	        box-shadow: 0 0 5px 5px var(--element-bg)
}
#backtop:hover {
	color: var(--element-bg);
	background-color: var(--body-bg)
}
#backtop:focus {
	outline: none
}

/*ALL TEXT*/

.filter-button {
	border-radius: 25px;
	border: outset var(--link);
	padding: 2px 5px 2px 5px
}
button.toggled {
	background-color: var(--link);
	color: var(--body-bg)
}
.text-medium {
	font-size: 18px!important
}
.credits {
   color: var(--alt-text)!important;
   font-size: 12px;
   text-align: center;
   margin-top: 20px
}
.fa-external-link-alt {
	font-size: 13px!important
}
.info-link {
	cursor: help;
}
.no_bullet {
	list-style-type: none
}
.link {
	color: var(--link);
   text-decoration: underline;
   -webkit-text-decoration-color: rgba(0,0,0,0.3);
           text-decoration-color: rgba(0,0,0,0.3);
   -webkit-transition: -webkit-text-decoration-color 0.25s ease;
   transition: -webkit-text-decoration-color 0.25s ease;
   -o-transition: text-decoration-color 0.25s ease;
   transition: text-decoration-color 0.25s ease;
   transition: text-decoration-color 0.25s ease, -webkit-text-decoration-color 0.25s ease
}
.link:hover {
	-webkit-text-decoration-color: var(--link);
	        text-decoration-color: var(--link);
   color: var(--link)
}
.btnlink {
   background-color: rgba(0,0,0,0.1);
   padding: 20px;
   text-decoration: none;
   border-radius: 15px;
   margin: 20px;
   color: var(--link);
   border: 1px solid transparent;
   -webkit-transition: border 0.35s ease;
   -o-transition: border 0.35s ease;
   transition: border 0.35s ease;
}
.btnlink:hover {
   border: 1px solid var(--link);
   text-decoration: none;
   color: var(--link);
}
.invisible {
   opacity: 0
}
footer>div>div>.link {
   color: #E65F5F;
   text-decoration: underline;
   -webkit-text-decoration-color: var(--link-underline-color-light);
           text-decoration-color: var(--link-underline-color-light);
   -webkit-transition: -webkit-text-decoration-color 0.25s ease;
   transition: -webkit-text-decoration-color 0.25s ease;
   -o-transition: text-decoration-color 0.25s ease;
   transition: text-decoration-color 0.25s ease;
   transition: text-decoration-color 0.25s ease, -webkit-text-decoration-color 0.25s ease
}
footer>div>div>.link:hover {
   -webkit-text-decoration-color: #E65F5F;
           text-decoration-color: #E65F5F;
   color: #E65F5F
}
footer>p>.link {
   color: #E65F5F;
   text-decoration: underline;
   -webkit-text-decoration-color: var(--link-underline-color-light);
           text-decoration-color: var(--link-underline-color-light);
   -webkit-transition: -webkit-text-decoration-color 0.25s ease;
   transition: -webkit-text-decoration-color 0.25s ease;
   -o-transition: text-decoration-color 0.25s ease;
   transition: text-decoration-color 0.25s ease;
   transition: text-decoration-color 0.25s ease, -webkit-text-decoration-color 0.25s ease
}
footer>p>.link:hover {
   -webkit-text-decoration-color: #E65F5F;
           text-decoration-color: #E65F5F;
   color: #E65F5F
}
.tag {
	text-decoration: none;
}

/*FOOTER*/

#footrow>div>a {
   font-size: 14px
}
#footrow>div>h6 {
   font-size: 20px
}
footer {
	width: 70%;
	border-radius: 30px 30px 0 0;
	background-color: var(--element-bg);
	color: var(--alt-text);
	margin: auto;
	padding: 5px 5px 15px 5px;
   position: relative
}
footer::before {
  content: "";
  position: absolute;

  background-color: transparent;
  bottom: 0;
  left: -50px;
  height: 25px;
  width: 50px;
  border-radius: 0 0 30px 0;
  -webkit-box-shadow: 25px 0 0 0 var(--element-bg);
          box-shadow: 25px 0 0 0 var(--element-bg)
}
footer::after {
  content: "";
  position: absolute;

  background-color: transparent;
  bottom: 0;
  right: -50px;
  height: 25px;
  width: 50px;
  border-radius: 0 0 0 30px;
  -webkit-box-shadow: -25px 0 0 0 var(--element-bg);
          box-shadow: -25px 0 0 0 var(--element-bg)
}
@media only screen and (max-width: 991px) {
	#footrow>div {
		margin-bottom: 30px
	}
}
.foot-div {
	background-color: var(--alt-text);
   border-radius: 50px;
   height: 3px;
   -webkit-box-shadow: 2px 2px 0 0 var(--alt-link);
           box-shadow: 2px 2px 0 0 var(--alt-link)
}

/*GRID (basic)*/

#important-container, #tech-container {
	display: block
}
.row-div {
   border-bottom: 2px solid var(--element-bg);
}
#homerow { /*The first row on the "home" page*/
	margin: 0;
   width: 100%;
   background-color: white;
   padding: 40px;
   -webkit-box-shadow: inset 0 0 10px 0 var(--element-bg);
           box-shadow: inset 0 0 10px 0 var(--element-bg)
}
#homerow>div {
   margin: 20px 0 20px 0
}
#homerow>div>h1 {
   font-size: 9vw;
   text-shadow: 0.35vw 0.35vw #6a0000;
}
#firstrow { /*The first row*/
	margin: 50px 30px 30px 50px
}
#row { /*Any row proceeding the first row but preceding the last row*/
	margin: 30px
}
#row>div {
   margin: 15px 0 15px 0
}
#lastrow { /*The last row before the footer*/
	margin: 30px 30px 50px 30px
}
#footrow { /*Row containing the footer*/
	margin: 30px 30px 15px 30px
}
#side-card {
   background-color: white;
   border-radius: 15px;
   -webkit-box-shadow: 0 2px 5px 0 var(--element-bg);
           box-shadow: 0 2px 5px 0 var(--element-bg);
   padding: 20px
}

/*GRID (specifics of pages)*/

.inner-divider {
   background-color: #222;
   border-radius: 50px;
   height: 3px;
   -webkit-box-shadow: 2px 2px 0 0 var(--link);
           box-shadow: 2px 2px 0 0 var(--link)
}
.outer-divider {
   background-color: var(--link);
   border-radius: 50px;
   height: 5px;
   -webkit-box-shadow: 3px 3px 0 0 #222;
           box-shadow: 3px 3px 0 0 #222
}

/*GRID (specifics of articles)*/

/*ARTICLE CARD*/
#article>div {
	-webkit-transition: -webkit-box-shadow 0.25s ease;
	transition: -webkit-box-shadow 0.25s ease;
	-o-transition: box-shadow 0.25s ease;
	transition: box-shadow 0.25s ease;
	transition: box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease;
   border-radius: 15px;
	overflow: hidden;
	border: none;
	-webkit-box-shadow: 0 2px 5px 0 var(--element-bg);
	        box-shadow: 0 2px 5px 0 var(--element-bg)
}
#article:hover>div {
	-webkit-box-shadow: 0 8px 16px 0 var(--element-bg);
	        box-shadow: 0 8px 16px 0 var(--element-bg)
}
#article>div>img {
	width: 100%;
	heigth: auto
}

/*ARTICLE PAGE*/
.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -150px
}
.article-title {
	font-family: impact;
	margin-top: 10px;
	width: 50%;
	font-size: 45px;
	border-bottom: 1px solid #222
}
.article-tag > .blue {
	background-color: rgba(0,0,250,0);
   -webkit-transition: background-color 0.25s ease;
   -o-transition: background-color 0.25s ease;
   transition: background-color 0.25s ease;
	color: darkblue;
	border-radius: 10px;
	padding: 5px
}
.article-tag > .blue:hover {
   background-color: rgba(0,0,250,0.3);
   text-decoration: none
}
.article-tag > .green {
	background-color: transparent;
   -webkit-transition: background-color 0.25s ease;
   -o-transition: background-color 0.25s ease;
   transition: background-color 0.25s ease;
	color: var(--tag-green);
	border-radius: 10px;
	padding: 5px
}
.article-tag > .green:hover {
   background-color: var(--tag-green-bg);
   text-decoration: none
}
.article-tag {
	float: right;
}
.article-title-hr {
	width: 100%;
	float: left;
	border: 3px solid var(--element-bg)
}
.article-body {
	font-family: georgia;
	font-size: 17px;
	line-height: 30px
}

/*IMPORTANT TAG*/

.important-article {
	border-top: #00CC00 5px solid
}
.important-article>.tag {
	position: absolute;
	margin-top: -1.25rem;
	margin-bottom: 0.75rem;
	left: 0;
	border-radius: 0 0 15px 0;
	background-image: -o-linear-gradient(top, #00CC00, #006600);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00CC00), to(#006600));
	background-image: linear-gradient(to bottom, #00CC00, #006600);
	font-weight: 700;
	color: white;
	font-size: 14px;
	font-family: monospace;
	padding: 0 10px 0 5px
}

/*TECH TAG*/

.tech-article {
	border-top: #0339f8 5px solid
}
.tech-article>.tag {
	position: absolute;
	margin-top: -1.25rem;
	margin-bottom: 0.75rem;
	left: 0;
	border-radius: 0 0 15px 0;
	background-image: -o-linear-gradient(top, #0339f8, #011353);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0339f8), to(#011353));
	background-image: linear-gradient(to bottom, #0339f8, #011353);
	font-weight: 700;
	color: white;
	font-size: 14px;
	font-family: monospace;
	padding: 0 10px 0 5px
}

///

@media (prefers-color-scheme: dark) {
	/*VARIABLE CALLING*/

	:root {
		--element-bg: #000;
		--body-bg: #222;
		--light-accent: #a7a7a7;
		--light-accent-hover: #c9c9c9;
		--link: #D00000;
		--alt-link: #E65F5F;
		--alt-link-hover: #ed8b8b;
		--link-underline-color: rgba(250,250,250,0.2);
		--link-underline-color-light: rgba(250,250,250,0.2);
		--text: #c9c9c9;
		--alt-text: #222;
		--tag-blue: rgb(0,200,250);
		--tag-blue-bg: rgba(0,200,250,0.3);
		--tag-green: rgb(0,250,200);
		--tag-green-bg: rgba(0,250,200,0.3)
	}

	/*GENERAL (large bodies)*/

	img {
		-webkit-filter: brightness(80%); /* Safari 6.0 - 9.0 */
	  filter: brightness(80%);
	}
	img:hover {
		-webkit-filter: brightness(100%); /* Safari 6.0 - 9.0 */
	  filter: brightness(100%);
	}
	html {
	   scroll-behavior: smooth
	}
	* {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box
	}
	body {
		margin: 0;
		overflow-x: hidden;
		background-color: var(--body-bg)!important
	}
	/* COOL TRANSITION EXPERIMENTAL SHIT */
	body > #transition {
		display: none
	}
	#transition {
		z-index: 9!important;
		border-radius: 50%;
		background-color: #c9c9c9;
		border: #222 10px solid;
		position: fixed;
		left: -50vw;
		bottom: -50vw;
		animation: transitionTheme 2s ease
	}
	@keyframes transitionTheme {
		0% {
			height: 0;
			width: 0
		}
		75% {
			height: 175vw;
			width: 175vw;
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	.content {
	   -webkit-animation: fadeIn 0.15s ease forwards;
	           animation: fadeIn 0.15s ease forwards;
	}
	.content>*:not(#homerow):not(.container) {
	   margin-right: 10px;
	   margin-left: 10px
	}
	@-webkit-keyframes fadeIn {
	   from {
	      opacity: 0;
	   }
	   to {

	      opacity: 1
	   }
	}
	@keyframes fadeIn {
	   from {
	      opacity: 0;
	   }
	   to {

	      opacity: 1
	   }
	}
	nav {
		width: 100%;
		margin: 0;
		background-color: var(--element-bg)
	}
	/* width */
	::-webkit-scrollbar {
	  width: 15px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  background: var(--body-bg);
	  -webkit-box-shadow: inset 0 0 5px 0 var(--element-bg);
	          box-shadow: inset 0 0 5px 0 var(--element-bg)
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: var(--body-bg);
	  -webkit-box-shadow: 0 0 5px 0 var(--element-bg);
	          box-shadow: 0 0 5px 0 var(--element-bg);
	  border-radius: 50px;
	  border: 2px outset var(--light-accent)
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: var(--light-accent);
	}

	/* TEXT */

	p, h1, h2, h3, h4, h5, li {
	   color: var(--text)!important
	}


	/*MEDIA QUERIES*/

	@media print {
		#navbar, #backtop {
			display: none
		}
	}
	#firstrow {
		background-color: var(--body-bg)!important;
		border-radius: 20px 20px 0 0;
	}

	/*TEAM MEMBER PAGES*/

	.profile {
		height: 100px;
		width: 100px;
		border: #c9c9c9 solid 2px;
		background-image: url('../../assets/stock.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto;
		float: left;
		border-radius: 50%
	}

	/*TABLE*/

	table {
		border: 2px solid #c9c9c9;
		color: #c9c9c9;
		width: 80%
	}
	td, th {
		border: 1px solid #c9c9c9;
		padding: 8px
	}

	/*SIDEBAR*/

	.sidebar {
		position: fixed;
		right: 0px;
		top: 35%;
		background-color: #000;
		border-left: solid 1px #c9c9c9;
		border-top: solid 1px #c9c9c9;
		border-bottom: solid 1px #c9c9c9;
		border-radius: 15px 0 0 15px;
		-webkit-box-shadow: 0 0 5px 5px var(--element-bg);
		        box-shadow: 0 0 5px 5px var(--element-bg);
		padding: 8px;
		word-break: break-all;
		max-width: 150px
	}
	.sidebar>a {
		color: #E65F5F;
		text-decoration: underline;
		-webkit-text-decoration-color: var(--link-underline-color-light);
						text-decoration-color: var(--link-underline-color-light);
		-webkit-transition: -webkit-text-decoration-color 0.25s ease;
		transition: -webkit-text-decoration-color 0.25s ease;
		-o-transition: text-decoration-color 0.25s ease;
		transition: text-decoration-color 0.25s ease;
		transition: text-decoration-color 0.25s ease, -webkit-text-decoration-color 0.25s ease
	}
	.sidebar>a:hover {
		-webkit-text-decoration-color: #E65F5F;
						text-decoration-color: #E65F5F;
		color: #E65F5F
	}

	/*DROPDOWN*/

	.dropbtn {
		border: none;
		cursor: pointer;
		background-color: transparent;
		font-size: 17px;
		padding: 0;
	}
	.dropbtn:focus {
		outline: none
	}
	.dropdown {
		position: relative;
		display: inline-block;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: var(--body-bg);
		min-width: 100px;
		overflow: auto;
		-webkit-box-shadow: 0px 2px 4px 0px var(--element-bg);
		        box-shadow: 0px 2px 4px 0px var(--element-bg);
		border-radius: 10px;
		z-index: 2;
		opacity: 0;
	}
	.dropdown-content a {
		color: var(--light-accent);
		padding: 12px 14px;
		text-decoration: none;
		display: block;
		-webkit-transition: background-color 0.25s ease, color 0.25s ease;
		-o-transition: background-color 0.25s ease, color 0.25s ease;
		transition: background-color 0.25s ease, color 0.25s ease;
		font-size: 18px;
		font-family: 'Roboto Condensed', sans-serif;
	}
	.dropdown-content > a:not(:last-child) {
	   border-bottom: var(--light-accent) 1px solid
	}
	.dropdown-content>#active, .dropdown-content>#active:hover {
	   color: var(--alt-link)
	}
	#navbar>div>.dropdown-content>a {
		font-size: 16px;
		padding: 10px 12px;
	}
	.dropdown a:hover {
		background-color: var(--element-bg);
		text-decoration: none;
		color: var(--text)
	}
	.dropdown:hover .dropdown-content {
		display: block;
		-webkit-animation: dropdown-contentShow 0.5s ease forwards;
		        animation: dropdown-contentShow 0.5s ease forwards;
	}
	@-webkit-keyframes dropdown-contentShow {
		from {
			opacity: 0
		}
		to {
			opacity: 1
		}
	}
	@keyframes dropdown-contentShow {
		from {
			opacity: 0
		}
		to {
			opacity: 1
		}
	}

	/*BOTTOMNAV (larger nav that does not move)*/

	.btmnav {
		padding: 20px;
		border-bottom: #222 solid 2px;
	}
	.btmnav>.navbar-brand>img {
		height: 50px;
		width: 50px
	}
	.btmnav>div>button {
		cursor: default
	}
	.btmnav>a {
		margin-left: 45px;
		font-size: 30px;
		color: var(--light-accent);
		float: middle;
		-webkit-transition: color 0.25s ease;
		-o-transition: color 0.25s ease;
		transition: color 0.25s ease;
		text-decoration: none;
	   border: 1px solid transparent;
		font-family: 'Roboto Condensed', sans-serif;
	}
	.btmnav>div>button {
		font-size: 30px;
		color: var(--light-accent);
		float: middle;
		-webkit-transition: color 0.25s ease;
		-o-transition: color 0.25s ease;
		transition: color 0.25s ease;
	   border: 1px solid transparent;
	   padding: 0;
		text-decoration: none;
		font-family: 'Roboto Condensed', sans-serif;
	}
	.btmnav>div {
		margin-left: 45px;
		float: middle;
	}

	/*TOPNAV (smaller nav that moves with user)*/

	#navbar {
		position: fixed;
		top: -100px;
		display: block;
		-webkit-transition: top 0.3s;
		-o-transition: top 0.3s;
		transition: top 0.3s;
		z-index: 2;
		padding: 10px;
		background-color: var(--element-bg);
		-webkit-box-shadow: 0 5px 5px 5px var(--element-bg);
		        box-shadow: 0 5px 5px 5px var(--element-bg)
	}
	#navbar>.navbar-brand>img {
		height: 30px;
		width: 30px
	}
	@media only screen and (max-width: 900px) {
		#navbar {
			display: none
		}
	}
	#navbar>a, #navbar>div {
		margin-left: 24px;
		color: var(--light-accent);
		text-decoration: none;
		-webkit-transition: color 0.25s ease;
		-o-transition: color 0.25s ease;
		transition: color 0.25s ease;
		font-size: 20px;
	   border: 1px solid transparent;
		font-family: 'Roboto Condensed', sans-serif;
	}
	#navbar>div>button {
		color: var(--light-accent);
		padding: 0;
		-webkit-transition: color 0.25s ease;
		-o-transition: color 0.25s ease;
		transition: color 0.25s ease;
		font-size: 20px
	}
	#navbar>div>button {
		cursor: default
	}

	/*ALL NAVBARS*/

	#navbar>a:active, #navbar>div>button:active, .btmnav>div>button:active, .btmnav>a:active {
	   border: 1px dashed white
	}
	#navbar>#active, .btmnav>#active, #navbar>div>#active, .btmnav>div>#active {
		border-bottom: solid var(--alt-link) 2px;
	   color: var(--alt-link)
	}
	#navbar>#active:active, .btmnav>#active:active, #navbar>div>#active:active, .btmnav>div>#active:active {
		border: 1px dashed var(--alt-link)
	}
	#navbar>a:hover, #navbar>div:hover>button, .btmnav>a:hover, .btmnav>div:hover>button {
		color: var(--light-accent-hover);
		text-decoration: none
	}
	#navbar>div>button>.fa-caret-right, .btmnav>div>button>.fa-caret-right {
		-webkit-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		        transform: rotate(0deg);
		-webkit-transition: -webkit-transform 0.25s ease;
		transition: -webkit-transform 0.25s ease;
		-o-transition: transform 0.25s ease;
		transition: transform 0.25s ease;
		transition: transform 0.25s ease, -webkit-transform 0.25s ease
	}
	#navbar>div:hover>button>.fa-caret-right, .btmnav>div:hover>button>.fa-caret-right {
		-webkit-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		        transform: rotate(90deg)
	}
	@media only screen and (max-width: 900px) {
		.btmnav>a, .btmnav>div>button, .btmnav>div {
			width: 100%;
			display: inline-block;
			text-align: center;
			border-bottom: none;
			margin-left: 0;
		}
		.dropdown-content {
			text-align: center;
			width: 100%
		}
		.btmnav>a, .btmnav>div>button {
			margin-bottom: 20px
		}
		.btmnav>a:hover, .btmnav>div>button:hover, .btmnav>div:hover {
			color: var(--light-accent-hover)
		}
		.btmnav>#fr {
			border: none !important;
		   border-left: 1px solid var(--light-accent);
			 margin-left: 0 !important;
		   border-right: 1px solid transparent;
			 padding-left: 0 !important;
		   border-bottom: solid transparent 1px;
			 border-top: 1px solid transparent;
		}
			#navbar>#fr {
		   margin-left: 22.5px;
			 border: none !important;
		   padding-left: 22.5px
			 margin-left: 0 !important;
			 padding-left: 0 !important;
		}
	}
	#navbar>#fr,.btmnav>#fr {
	   border-left: 1px solid var(--light-accent);
	   border-right: 1px solid transparent;
	   border-bottom: solid transparent 1px;
	   border-top: 1px solid transparent;
	   margin-left: 22.5px;
	   padding-left: 22.5px
	}

	/*SOCIAL MEDIA LINKS*/

	#social-nav {
	   margin: 20px 0 10px 0
	}
	#social-link {
		color: var(--alt-link);
	   font-size: 40px;
	   -webkit-transition: color 0.25s ease;
	   -o-transition: color 0.25s ease;
	   transition: color 0.25s ease
	}
	#social-link:hover {
		color: var(--alt-link-hover)
	}

	/*Back to top button*/

	#backtop {
		position: fixed;
		right: -100px;
		bottom: 100px;
		border: 1px solid #c9c9c9;
		border-radius: 10px;
		height: 50px;
		width: 50px;
		display: block;
		-webkit-transition: right 0.3s, color 0.3s ease, background-color 0.3s ease;
		-o-transition: right 0.3s, color 0.3s ease, background-color 0.3s ease;
		transition: right 0.3s, color 0.3s ease, background-color 0.3s ease;
		z-index: 2;
		padding: 10px;
		color: white;
		background-color: var(--element-bg);
		-webkit-box-shadow: 0 0 5px 5px var(--element-bg);
		        box-shadow: 0 0 5px 5px var(--element-bg)
	}
	#backtop:hover {
		color: var(--element-bg);
		background-color: #c9c9c9
	}
	#backtop:focus {
		outline: none
	}
	#backtop:focus {
		outline: none
	}

	/*ALL TEXT*/

	.filter-button {
		border-radius: 25px;
		border: outset var(--link);
		padding: 2px 5px 2px 5px
	}
	button.toggled {
		background-color: var(--link);
		color: var(--body-bg)
	}
	.text-medium {
		font-size: 18px!important
	}
	.credits {
	   color: grey;
	   font-size: 12px;
	   text-align: center;
	   margin-top: 20px
	}
	.fa-external-link-alt {
		font-size: 13px!important
	}
	.info-link {
		cursor: help;
	}
	.no_bullet {
		list-style-type: none
	}
	.link {
		color: var(--alt-link);
	   text-decoration: underline;
	   -webkit-text-decoration-color: var(--link-underline-color);
	           text-decoration-color: var(--link-underline-color);
	   -webkit-transition: -webkit-text-decoration-color 0.25s ease;
	   transition: -webkit-text-decoration-color 0.25s ease;
	   -o-transition: text-decoration-color 0.25s ease;
	   transition: text-decoration-color 0.25s ease;
	   transition: text-decoration-color 0.25s ease, -webkit-text-decoration-color 0.25s ease
	}
	.link:hover {
		-webkit-text-decoration-color: var(--alt-link);
		        text-decoration-color: var(--alt-link);
	   color: var(--alt-link)
	}
	.btnlink {
	   background-color: var(--link-underline-color);
	   padding: 20px;
	   text-decoration: none;
	   border-radius: 15px;
	   margin: 20px;
	   color: var(--link);
	   border: 1px solid transparent;
	   -webkit-transition: border 0.35s ease;
	   -o-transition: border 0.35s ease;
	   transition: border 0.35s ease;
	}
	.btnlink:hover {
	   border: 1px solid var(--link);
	   text-decoration: none;
	   color: var(--link);
	}
	.invisible {
	   opacity: 0
	}
	footer>div>div>.link {
	   color: var(--alt-link);
	   text-decoration: underline;
	   -webkit-text-decoration-color: var(--link-underline-color-light);
	           text-decoration-color: var(--link-underline-color-light);
	   -webkit-transition: -webkit-text-decoration-color 0.25s ease;
	   transition: -webkit-text-decoration-color 0.25s ease;
	   -o-transition: text-decoration-color 0.25s ease;
	   transition: text-decoration-color 0.25s ease;
	   transition: text-decoration-color 0.25s ease, -webkit-text-decoration-color 0.25s ease
	}
	footer>div>div>.link:hover {
	   -webkit-text-decoration-color: var(--alt-link);
	           text-decoration-color: var(--alt-link);
	   color: var(--alt-link)
	}
	footer>p>.link {
	   color: var(--alt-link);
	   text-decoration: underline;
	   -webkit-text-decoration-color: var(--link-underline-color-light);
	           text-decoration-color: var(--link-underline-color-light);
	   -webkit-transition: -webkit-text-decoration-color 0.25s ease;
	   transition: -webkit-text-decoration-color 0.25s ease;
	   -o-transition: text-decoration-color 0.25s ease;
	   transition: text-decoration-color 0.25s ease;
	   transition: text-decoration-color 0.25s ease, -webkit-text-decoration-color 0.25s ease
	}
	footer>p>.link:hover {
	   -webkit-text-decoration-color: var(--alt-link);
	           text-decoration-color: var(--alt-link);
	   color: var(--alt-link)
	}
	.tag {
		text-decoration: none;
	}

	/*FOOTER*/

	#footrow>div>a {
	   font-size: 14px
	}
	#footrow>div>h6 {
	   font-size: 20px
	}
	footer {
		width: 70%;
		border-radius: 30px 30px 0 0;
		background-color: var(--element-bg);
		color: var(--light-accent);
		margin: auto;
		padding: 5px 5px 15px 5px;
	   position: relative
	}
	footer::before {
	  content: "";
	  position: absolute;

	  background-color: transparent;
	  bottom: 0;
	  left: -50px;
	  height: 25px;
	  width: 50px;
	  border-radius: 0 0 30px 0;
	  -webkit-box-shadow: 25px 0 0 0 var(--element-bg);
	          box-shadow: 25px 0 0 0 var(--element-bg)
	}
	footer::after {
	  content: "";
	  position: absolute;

	  background-color: transparent;
	  bottom: 0;
	  right: -50px;
	  height: 25px;
	  width: 50px;
	  border-radius: 0 0 0 30px;
	  -webkit-box-shadow: -25px 0 0 0 var(--element-bg);
	          box-shadow: -25px 0 0 0 var(--element-bg)
	}
	@media only screen and (max-width: 991px) {
		#footrow>div {
			margin-bottom: 30px
		}
	}
	.foot-div {
		background-color: var(--light-accent);
	   border-radius: 50px;
	   height: 3px;
	   -webkit-box-shadow: 2px 2px 0 0 var(--alt-link);
	           box-shadow: 2px 2px 0 0 var(--alt-link)
	}

	/*GRID (basic)*/

	.row-div {
	   border-bottom: 2px solid var(--light-accent);
	}
	#homerow { /*The first row on the "home" page*/
		margin: 0;
	   width: 100%;
	   background-color: var(--light-accent);
	   padding: 40px;
	   -webkit-box-shadow: inset 0 0 10px 0 var(--element-bg);
	           box-shadow: inset 0 0 10px 0 var(--element-bg)
	}
	#homerow>div {
	   margin: 20px 0 20px 0
	}
	#homerow>div>h1 {
	   font-size: 9vw;
	   color: var(--alt-text)!important;
	   text-shadow: 0.35vw 0.35vw #6a0000;
	}
	#homerow>div>h2 {
	   color: var(--alt-text)!important
	}
	#firstrow { /*The first row*/
		margin: 50px 30px 30px 50px
	}
	#row { /*Any row proceeding the first row but preceding the last row*/
		margin: 30px
	}
	#row>div {
	   margin: 15px 0 15px 0
	}
	#lastrow { /*The last row before the footer*/
		margin: 30px 30px 50px 30px
	}
	#footrow { /*Row containing the footer*/
		margin: 30px 30px 15px 30px
	}
	#side-card {
	   background-color: var(--element-bg);
	   border-radius: 15px;
	   -webkit-box-shadow: 0 2px 5px 0 var(--element-bg);
	           box-shadow: 0 2px 5px 0 var(--element-bg);
	   padding: 20px
	}

	/*GRID (specifics of pages)*/

	.inner-divider {
	   background-color: var(--light-accent);
	   border-radius: 50px;
	   height: 3px;
	   -webkit-box-shadow: 2px 2px 0 0 var(--link);
	           box-shadow: 2px 2px 0 0 var(--link)
	}
	.outer-divider {
	   background-color: var(--link);
	   border-radius: 50px;
	   height: 5px;
	   -webkit-box-shadow: 3px 3px 0 0 var(--light-accent);
	           box-shadow: 3px 3px 0 0 var(--light-accent)
	}

	/*GRID (specifics of articles)*/

	/*ARTICLE CARD*/
	#article>.card {
		-webkit-transition: -webkit-box-shadow 0.25s ease;
		transition: -webkit-box-shadow 0.25s ease;
		-o-transition: box-shadow 0.25s ease;
		transition: box-shadow 0.25s ease;
		transition: box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease;
	   border-radius: 15px;
		overflow: hidden;
		border: none;
		-webkit-box-shadow: 0 2px 5px 0 var(--element-bg);
		        box-shadow: 0 2px 5px 0 var(--element-bg)
	}
	#article:hover>.card {
		-webkit-box-shadow: 0 8px 16px 0 var(--element-bg);
		        box-shadow: 0 8px 16px 0 var(--element-bg)
	}
	#article>.card>img {
		max-height: 250px;
		width: auto
	}
	/*ARTICLE PAGE*/
	.parallax {
	  height: 500px;
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  margin-bottom: -150px
	}
	.article-title {
		font-family: impact;
		margin-top: 10px;
		width: 50%;
		font-size: 45px;
		border-bottom: 1px solid #c9c9c9
	}
	.article-tag > .blue {
		background-color: transparent;
	   -webkit-transition: background-color 0.25s ease;
	   -o-transition: background-color 0.25s ease;
	   transition: background-color 0.25s ease;
		color: var(--tag-blue);
		border-radius: 10px;
		padding: 5px
	}
	.article-tag > .blue:hover {
	   background-color: var(--tag-blue-bg);
	   text-decoration: none
	}
	.article-tag > .green {
		background-color: transparent;
	   -webkit-transition: background-color 0.25s ease;
	   -o-transition: background-color 0.25s ease;
	   transition: background-color 0.25s ease;
		color: var(--tag-green);
		border-radius: 10px;
		padding: 5px
	}
	.article-tag > .green:hover {
	   background-color: var(--tag-green-bg);
	   text-decoration: none
	}
	.article-tag {
		float: right;
	}
	.article-title-hr {
		width: 100%;
		float: left;
		border: 3px solid var(--light-accent)
	}
	.article-body {
		font-family: georgia;
		font-size: 17px;
		line-height: 30px
	}
	.important-article, .tech-article {
	   background-color: var(--element-bg)
	}

	/*IMPORTANT TAG*/

	.important-article {
		border-top: #00CC00 5px solid
	}
	.important-article>.tag {
		position: absolute;
		margin-top: -1.25rem;
		margin-bottom: 0.75rem;
		left: 0;
		border-radius: 0 0 15px 0;
		background-image: -o-linear-gradient(top, #00CC00, #006600);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#00CC00), to(#006600));
		background-image: linear-gradient(to bottom, #00CC00, #006600);
		font-weight: 700;
		color: var(--light-accent);
		font-size: 14px;
		font-family: monospace;
		padding: 0 10px 0 5px
	}

	/*TECH TAG*/

	.tech-article {
		border-top: #0339f8 5px solid
	}
	.tech-article>.tag {
		position: absolute;
		margin-top: -1.25rem;
		margin-bottom: 0.75rem;
		left: 0;
		border-radius: 0 0 15px 0;
		background-image: -o-linear-gradient(top, #0339f8, #011353);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#0339f8), to(#011353));
		background-image: linear-gradient(to bottom, #0339f8, #011353);
		font-weight: 700;
		color: var(--light-accent);
		font-size: 14px;
		font-family: monospace;
		padding: 0 10px 0 5px
	}

}
